body,html {
    background-image: url("background.jpg");
    height: 100%;
    width: 100%;
    margin:0;
    padding: 0;
    background-size: cover;
}
header{
    z-index: 99;
    position: relative;
    background-color: black;
    width: 100%;
    background:linear-gradient(to top, #a9abad, #051b30);
}

form {
  max-width: 300px;
  margin: 5% auto;
  padding: 10px 30px;
  background:linear-gradient(to bottom, #a9abad, #051b30);
  border-radius: 8px;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background-color: darkgray;
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 15px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  display: inline;
}

.number {
  background-color: #5fcf80;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}

.topmenu{
    display: block;
    clear: both;
}
.topmenu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.topmenu li{
    border-right: 1px solid white;
    display: flex;

}

.topmenu li a{
    display: block;
    color: white;
    text-align: center;
    padding: .8em;
    text-decoration: none;
}

.topmenu li a:hover{
    background:linear-gradient(to bottom, #a9abad, #051b30);
}

.topmenu li:last-child{
    border: none;
}
.links {
    display: flex;
    justify-content: center;
}

@-webkit-keyframes prism{
    100%{-webkit-transform: rotate(360deg);}
}

.prism{
    height: 2.5em;
    width: 2.5em;
    animation-name: prism;
    position: relative;
    -webkit-animation: prism 5s infinite; 
    animation: prism 5s infinite;
}

.prism2{
    height: 2.5em;
    width: 2.5em;
    animation-name: prism;
    position: relative;
    -webkit-animation: prism 3.5s infinite; 
    animation: prism 3.5s infinite;
}

.prism3{
    height: 2.5em;
    width: 2.5em;
    animation-name: prism;
    position: relative;
    -webkit-animation: prism 2s infinite; 
    animation: prism 2s infinite;
}

@media screen and (min-width: 34em){

    .topmenu{
        display: flex;
        justify-content: flex-end;
    }
    .topmenu ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: flex;
    }
    .topmenu li{
        border-right: 1px solid white;
        display: flex;

    }

    .topmenu li a{
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    .topmenu li a:hover{
        background:linear-gradient(to bottom, #a9abad, #051b30);
    }

    .topmenu li:last-child{
        border: none;
    }
    .links {
        position: fixed;
        top:0;
        left: 0;
        z-index: 99;
    }
    form {
    max-width: 34em;
    }
}

@media screen and (min-width: 60em){
    body{
        max-width: 100%;
        margin: 0 auto;
    }
    .topmenu li a{
        padding: 1em;
    }
    .extra{
        font-size: 36px;
    }
}

@media screen and (min-width: 80em){
  body{
    max-width: 100%;
    margin: 0 auto;
  }
  .extra{
    font-size: 40px;
  }
}
