body,html {
	background-image: url("background.jpg");
	height: 100%;
	width: 100%;
	margin:0;
	padding: 0;
	background-size: cover;
}

.condensed {
	font-family: 'Open Sans Condensed', sans-serif;
}
.time {
	color: gray;
	font-size: 50px;
}
.middle {
	height: 280px;
	width: 400px;
    background:linear-gradient(to top, black, #303b99);
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
    text-decoration: none;
}

.images {
	height: 200px;
	width: 400px;
	border-radius: 5px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background:linear-gradient(to top, #a9abad, #051b30);

}

@-webkit-keyframes prism{
    100%{-webkit-transform: rotate(360deg);}
}

.prism{
    height: 2.5em;
    width: 2.5em;
    animation-name: prism;
    position: relative;
    -webkit-animation: prism 5s infinite; 
    animation: prism 5s infinite;
}

.prism2{
    height: 2.5em;
    width: 2.5em;
    animation-name: prism;
    position: relative;
    -webkit-animation: prism 3.5s infinite; 
    animation: prism 3.5s infinite;
}

.prism3{
    height: 2.5em;
    width: 2.5em;
    animation-name: prism;
    position: relative;
    -webkit-animation: prism 2s infinite; 
    animation: prism 2s infinite;
}

li{
    float: right;
    border-left: 1px solid white;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background:linear-gradient(to bottom, #a9abad, #051b30);
}

li:last-child{
    border-left: none;
}