body,html{
	height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: white;
}

.parallax {
    background-image: url('valkyrie.jpg');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2{
    background-image: url('gunjack.jpg');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.extra{
    	height:280px;
	background:linear-gradient(to top, #a9abad, #051b30);
	font-size:36px;
    	text-align: center;
    	padding: 1em;
    	text-shadow: 5px 5px #000;

}
